<div>
    <p>Enter Name</p>
    <input [(ngModel)]="EmployeeName" type="text">
</div>
<div>
    <p>Enter Department Id</p>
    <input [(ngModel)]="DepartmentId" type="text">
</div>
<div>
    <p>Enter Designation Id</p>
    <input [(ngModel)]="DesignationId" type="text">
</div>
<div>
    <p>Enter Salary</p>
    <input [(ngModel)]="Salary" type="text">
</div>
<div>
    <p>Enter Join Date</p>
    <input [(ngModel)]="JoinDate" type="text">
</div>
<div>
    <button (click)="handleSave()">Save</button>
</div>